
<ion-view view-title="Create New Topic">
    <ion-content class="padding new-topic">
        <div class="list card">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Topic Title</span>
                <input type="text" ng-model="newTopic.title">
            </label>
            <new-message model="newTopic.message"></new-message>
        </div>
        <button class="button button-block button-positive" ng-click="submit()">
            Post
        </button>
    </ion-content>
</ion-view>