
<ion-view>
    <ion-nav-title>
        {{ topic.title }}
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a class="button" href="#/topics/Posted">
            Posted
        </a>
    </ion-nav-buttons>

    <ion-content class="padding">
        <ion-list class="list card">
            <div class="message item item-text-wrap" ng-repeat="message in topic.messages">
                <div class="item avatar item-avatar">
                    <img ng-src="//{{message.avatar}}" ng-hide="!message.avatar">
                    <h2 class="username" ng-bind-html="message.username"></h2>
                </div>
                <p class="message-body" ng-show="message.body" ng-bind-html="message.body"></p>
            </div>
        </ion-list>



        <ion-infinite-scroll
                ng-if="getMoreMessages"
                on-infinite="getMessages()"
                distance="10%"
                >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
