<ion-view ng-attr-view-title="{{ tagName }}">
    <ion-nav-buttons side="secondary">
        <a class="button" href="#/topics/Posted">
            Posted
        </a>
    </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-show="topics">
      <a class="topic item item-icon-right" ng-repeat="topic in topics" ng-attr-href="#/messagelist/{{ topic.id }}/1">
        <h2 ng-bind-html="topic.title"></h2>

          <div class="table">
              <p class="username cell" ng-bind-html="topic.username"></p>
              <p class="tags cell right">
                  <span class="tag" ng-repeat="tag in topic.tags" ng-bind-html="tag"></span>
              </p>
          </div>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

  </ion-content>
    <a class="new-post-button" ng-href="#/newtopic/{{ tagName }}">+</a>
</ion-view>
